html,
body {
    margin: 0;
    font-family: Roboto;
    height: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header,
.footer,
.hero-container {
    background-color: #1F2937;
    display: flex;
 }

 .header {
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
 }

.header-logo {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

ul {
    list-style: none;
    margin-inline-start: 0;
    padding-inline-start: 0;
    display: flex;
    gap: 16px;
}

a,
.hero-secondary-text {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.main {
    flex-grow: 1;
}

.footer {
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    height: 54px;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    gap: 15px;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text {
    text-wrap: balance;
}

.hero-image > img {
    width: 300px;
    height 300px;
    object-fit: contain;
}

.hero-text-container,
.hero-image {
    margin: 70px 0;
}

.hero-text-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.signup-button {
    border-radius: 6px;
}